@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #a3cdcd;
  background-image: url(https://images.unsplash.com/photo-1500829243541-74b677fecc30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3552&q=80);
  background-size: cover;
}

header {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  opacity: 0.9;
  width: 900px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

h1 {
  font-family: "Fredoka One";
  text-align: center;
  color: rgb(28, 181, 28);
  font-size: 75px;
  order: 1;
  margin-top: 40px;
  margin-bottom: 5px;
}

p {
  text-align: center;
  color: white;
  font-size: 22px;
  padding-left: 50px;
  padding-right: 50px;
}

.instructions {
  margin-bottom: 50px;
}

main {
  display: flex;
  height: 850px;
  margin: 10px;
}

.hngmn-structure {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-template-areas:
    ". pole4 pole4 ."
    ". pole3 pole5 ."
    ". pole2 head ."
    ". pole1 pole1 .";
  background-color: black;
  opacity: 0.8;
  height: 100%;
  width: 50%;
}

.head {
  grid-area: head;
  place-self: center;
  height: 100%;
}

.lion-head {
  width: 100%;
}

.pole1 {
  visibility: hidden;
  grid-area: pole1;
  justify-content: center;
  background-color: white;
  height: 100%;
  width: 50px;
}

.pole2 {
  visibility: hidden;
  grid-area: pole2;
  background-color: white;
  height: 100%;
  width: 50px;
}

.pole3 {
  visibility: hidden;
  grid-area: pole3;
  background-color: white;
  height: 100%;
  width: 50px;
}

.pole4 {
  visibility: hidden;
  grid-area: pole4;
  align-self: end;
  background-color: white;
  height: 40px;
  width: 79%;
}

.pole5 {
  visibility: hidden;
  grid-area: pole5;
  justify-self: center;
  background-color: white;
  height: 100%;
  width: 50px;
}

.guesses {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  margin: 0;
}

.spaces {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(28, 181, 28);
  opacity: 0.8;
  height: 40%;
  width: 100%;
}

.letters-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  row-gap: 0px;
  column-gap: 12px;
  background-color: rgb(6, 32, 6);
  opacity: 0.8;
  height: 60%;
  width: 100%;
  text-align: center;
}

.letters {
  font-size: 65px;
  color: white;
  margin: 0;
  padding: 25px;
  cursor: pointer;
  background-color: black;
}

.button {
  align-self: center;
}

button {
  height: 70px;
  width: 175px;
  font-size: 25px;
  background-color: rgb(28, 181, 28);
  color: black;
  border: 2px black solid;
  order: 2;
  margin: 25px;
}

button:hover {
  background-color: black;
  color: rgb(28, 181, 28);
  cursor: pointer;
}

.spaces > div {
  display: flex;
  margin: 25px;
  width: 10%;
  height: 100px;
  border: solid black 5px;
  font-size: 65px;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: visible;
  font-size: 65px;
  color: white;
  margin-bottom: 50px;
}
